<!DOCTYPE html>
<html>
  <%-include("include/head")-%>

  <body>
    <div class="gtco-loader"></div>

    <div id="page">
      <%-include('include/header-menu')-%> <%-include('include/header-index')-%>
      <%-include('include/content/menus')-%>
      <%-include('include/content/services')-%>
      <%-include('include/content/text')-%>
      <%-include('include/content/facts')-%>
      <%-include('include/content/subscribe')-%> <%-include('include/footer')-%>
    </div>

    <%-include('include/footer-gototop')-%>
    <%-include('include/footer-scripts')-%>
  </body>
</html>
