<!DOCTYPE html>
<html>
  <%-include("include/head")-%>
  <body>
    <div class="gtco-loader"></div>

    <div id="page">
      <%-include('include/header-menu')-%> <%-include('include/header')-%>
      <%-include('include/content/reservations')-%>
      <%-include('include/footer')-%>
    </div>

    <%-include('include/footer-gototop')-%>
    <%-include('include/footer-scripts')-%>
  </body>
</html>
